<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Concurrent Test</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <br>
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/js/main.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
  </body>
</html>