{% extends "_base.html" %}

{% block content %}

    <div class="text-center">
        <h1>Conncurrent Connection Tester</h1>
        <p>In theory, this request has added a record to a database.
            We can count those records to see how many connections have occurred,
            and at what time each record was added.</p>

        <p>Right now, we think this is connection <b>{{ count }}</b>.</p>
    </div>

{% endblock %}